h1 {
    color: white;
}

.home__svg {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.index__container {
    display: flex;
    width: 100%;
}

.index__text {
    color: black;
}

.highlight {
    color: #0075FF;
}

.index__left {
    width: 50%;
    left: 0px;
}

.index__right {
    width: 50%;
    right: 0px;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5rem;
}

.index__buttons {
    margin-top: 1rem;
}

.resume_button {
    background-color: #4198FF;
    color: white;
    transition: 0.4s;
    border-radius: 5px 5px 5px 5px !important;
}

.resume_button:hover {
    background-color: #377fd7;
    color: white;
}

.more_button {
    border-color: #4198FF;
    transition: 0.4s;
    border-radius: 5px 5px 5px 5px !important;
}

.more_button:hover {
    background-color: #4198FF;
    color: white;
}

.contact__email {
    color: #0075FF;
}

.contact__email:hover {
    color: #0162d2;
    cursor: pointer;
}

.copyright {
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
}

@media (max-width: 699px) {
    .svg--lg {
        display: none;
    }
}

@media (min-width: 700px) {
    .svg--sm {
        display: none;
    }
}

/* For MOBILE */
@media only screen and (max-width: 992px) {
    .index__container {
        flex-direction: column;
    }

    .index__left {
        width: 100%;
    }

    .index__right {
        width: 100%;
        padding: 0;
    }

    .index__text__first {
        margin-top: 1.4rem
    }
}