.cover {
    height: 100vh;
    z-index: 0;
    position: sticky;
    top: 0;
}

.cover__left {
    background-color: rgb(72, 67, 67);
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
}

.cover__right {
    background-color: black;
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover__text {
    margin-left: 2.2rem;
}

.cover__emphasis {
    background: -webkit-linear-gradient(rgb(255, 219, 174), #FF9900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-weight: 300; */
}