.cover {
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: white;
}

.cover__text_typing:after {
    border-bottom: none;
}

.cover__left {
    /* background-color: black; */
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
}

.cover__right {
    background-color: black;
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover__text {
    margin: 0 2.2rem;
}

.cover__emphasis {
    background: -webkit-linear-gradient(rgb(255, 219, 174), #FF9900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-weight: 300; */
}

/* For MOBILE */
@media only screen and (max-width: 992px) {
    .cover__left {
        width: 100%;
    }

    .cover__right {
        background-color: transparent;
        width: 100%;
    }

    .cover__text > h1 {
        font-weight: 600;
    }

    .cover__text > h2 {
        font-weight: 600;
    }

    .cover__emphasis {
        background: #ffb340;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

