.halfcover {
    height: 60vh;
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.halfcover__text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 40px 80px;
}

.halfcover__text__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    width: 105%
}

.halfcover__text__links__button {
    font-size: 1rem;
    cursor: pointer;
    width: 10rem;
    position: relative;
    display: inline-block;
    font-weight: 300;
    color: #0075ff;
    overflow: hidden;
    background: linear-gradient(to right, #007bff, #007bff 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 1px;
    padding: 8px 16px;
}

.halfcover__text__links__button:hover {
    background-position: 0 100%;
    border-color: #0075ff;
}

.halfcover__text__links__button:focus {
    background-position: 0 100%;
    border-color: #0075ff;
    outline: none;
}

.halfcover__text__link:after {
    border-bottom: none;
    content: none;
}


/* For MOBILE */
@media only screen and (max-width: 992px) {
    .halfcover__text__links {
        justify-content: center;
    }
}