.header__container {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.1s;
    z-index: 5;
}

.header__container.scrolled {
    background-color: white;
    animation-name: header-animate;
    animation-duration: 1s;
}

@keyframes header-animate {
    from {background-color: transparent;}
    to {background-color: white;}
  }

header {
    margin: 1rem 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header.scrolled {
    color: black;
}

.header__nav {
    list-style: none;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.header__nav__desktop > a {
    color: inherit;
}

.header__nav__mobile {
    display: none;
}

.header__logo {
    display: flex;
}

.logo {
    height: 35px;
    margin-bottom: 0;
}

.header__links {
    margin-right: 2rem;
    text-decoration: none;
    font-size: 0.9rem;
    margin-bottom: 0;
    transition: 0.3s;
}

.header__links:hover, .header__links:focus {
    color: #FF9900;
}


/* For MOBILE */
@media only screen and (max-width: 992px) {
    .header__nav__desktop {
        display: none;
    }

    .header__nav__mobile {
        display: block;
        text-align: center;
        margin: 15px 0 15px 0;
        color: #4198FF;
    }
}